
/* 
    Created on : 04.03.2017, 15:34:34
    Author     :  Aleksandr Golubev aka gulkinnos <gulkinnos@gmail.com>

*/

#signOut, #signIn{
    position: absolute;
    top: 1rem;
    right: 10rem;
    width: 20rem;
    height: 5rem;

}
#fondsPreview{
    border-collapse: collapse;
}
#fondsPreview td, th{
    border-collapse: collapse;
    border: solid 1px black;
    padding: 0.5rem;
}
#fondsPreview tr:nth-child(even){
    background-color: #eef5e8;
}
.tableDescription{
    text-align: left;
}
.align-right{
    text-align: right;
}